* {
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
}
html {
    box-sizing: border-box;
    height: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}


@import "../modules/all";