// Layout

header {
	align-items: center;
	background-color: white;
	display: flex;
	flex-direction: row;
	height: 125px;
	padding: 2em;
	justify-content: space-between;
	width: 100%;
	position: relative;
	border-bottom: 1px solid #ccc;
}

.width-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 0 2em;
}

.home-section {
    position: relative;
    margin: 0 0 100px 0;
}

.title-header {
    position: relative;
    margin: 40px 0 25px 0;
}




footer {
    border-top: 1px solid #ccc;;
    padding: 2em;
    position: relative;
}